body {
    height: 100%;
}

#amkad {
    height: 100%;

    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.6);
    border-radius: 30rem;

    font-family: 'Ubuntu', sans-serif;
    padding-top: 0.3rem;
    background-color: rgb(220, 220, 220);
    text-align: center;

    margin-top: 15%;
    margin-left: 2rem;
    margin-right: 2rem;
}

#amkad > img {
    height: 10rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

#amkad > #ad_texts {
    margin-top: 0.3rem;
    vertical-align: middle;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

#ad_texts > a, #ad_texts > a:visited, #ad_texts > a:hover {
    color: red;
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}